@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}
::-webkit-scrollbar-thumb{
  background-color: tomato;
  border-radius: 50px;
}
::-webkit-scrollbar{
  width: 8px;
  
}
::-webkit-scrollbar-track{
  border-radius: 50px;
}
body{
  min-height: 100vh;
  margin: auto;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  width: 80%;
  margin: auto;
}

@keyframes fadeIn{
  0%{
    opacity:0
  }
  100%{
    opacity:1
  }
}